<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <a class="btn btn-danger" role="button"
       data-toggle="modal"
       data-target="#modalDelete"
       th:attrappend="data-target=${user.id}">Delete</a>
    <!--модальное окно удаления-->
    <div class="modal fade" id="modalDelete" th:attrappend="id=${user.id}" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteUserModalLabel">Удаление пользователя</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Вы уверены, что хотите удалить пользователя?</p>
                    <form th:action="@{admin/delete(id=${user.getId()})}" method="post" th:object="${user}">
                        <input type="hidden" name="id" th:value="${user.id}">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>

                </div>
            </div>
        </div>
    </div>



    <a class="btn btn-danger delete-user-btn" role="button"
       data-bs-toggle="modal"
       data-bs-target="#modalDelete"
       th:data-user-id="${user.id}">Delete</a>

    <!-- Общий модальный контейнер -->
    <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="EditUserModalLabel">Удаление пользователя</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Вы уверены, что хотите удалить пользователя?</p>
                    <form th:action="@{/admin/delete}" method="post">
                        <input type="hidden" name="_method" value="delete"/>
                        <input type="hidden" name="id" th:value="${user.id}">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


//Edit

<a class="btn btn-primary edit-user-btn" role="button"
   data-bs-toggle="modal"
   data-bs-target="#modalEdit"
   th:data-user-id="${anyuser.getId()}">Edit</a>

<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditUserModalLabel">Редактирование пользователя</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label>
                    <input type="text" class="form-control" value="${user.getId()}" disabled>
                </label>
            </div>
        </div>
    </div>
</div>